@media (hover: hover) and (pointer: fine) {
  .multiple-checkbox
    input[type="checkbox"]:not(input[type="checkbox"]:checked)
    + label:hover,
  .multiple-checkbox
    input[type="radio"]:not(input[type="radio"]:checked)
    + label:hover {
    background-color: var(--primary);
    color: var(--contrast);
  }

  .card-hover {
    outline: 2px solid var(--border);
    outline-offset: -1px;
  }

  .card-hover:hover {
    outline-color: var(--primary);
  }
}
