@media (hover: hover) and (pointer: fine) {
  .multiple-checkbox
    input[type="checkbox"]:not(input[type="checkbox"]:checked)
    + label:hover,
  .multiple-checkbox
    input[type="radio"]:not(input[type="radio"]:checked)
    + label:hover {
    background-color: var(--primary);
    color: var(--contrast);
  }

  .card-hover {
    opacity: 1;
  }

  .card-hover:hover {
    opacity: 0.6;
  }

  .editor-controls > div > button:hover {
    opacity: 0.6;
  }
}
