<footer>
    <div class="d-flex y-center x-center direction-column text-center">
        <p>Coded with <a href="https://symfony.com/" rel="nofollow noreferrer noopener" target="_blank" class="underline">Symfony</a></p>
        <p>Hosted by <a href="https://www.infomaniak.com" rel="nofollow noreferrer noopener" target="_blank" class="underline">Infomaniak</a></p>
        <p>Open on <a href="https://github.com/pierresmnnt/smnnt" rel="nofollow noreferrer noopener" target="_blank" class="underline">Github</a></p>
        <p>&#169; All rights reserved - Tous droits réservés</p>
    </div>
</footer>