<footer class="container">
    <div class="d-flex y-center x-center direction-column">
        <p>Coded with <a href="https://symfony.com/" rel="nofollow noreferrer noopener" target="_blank" class="underline">Symfony</a>, hosted by <a href="https://www.infomaniak.com" rel="nofollow noreferrer noopener" target="_blank" class="underline">Infomaniak</a>, open on <a href="https://github.com/pierresmnnt/smnnt" rel="nofollow noreferrer noopener" target="_blank" class="underline">Github</a></p>
    </div>
</footer>