{% extends 'base.html.twig' %}

{% block title %}New Advertisement{% endblock %}

{% block page__title %}Create new Advertisement{% endblock %}

{% block page__desc %}
    <a href="{{ path('app_advertisement_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Back to list</a>
{% endblock %}

{% block page__content %}
   {{ include('admin/advert/_form.html.twig') }}
{% endblock %}