{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<div class="container">
    <h1>Portfolio</h1>
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('portfolio_new') }}">New</a>{% endif %}
    <div class="grid">
    {% for image in images %}
        {% include "portfolio/_card_photo.html.twig" %}
    {% endfor %}
    </div>
</div>
{% endblock %}
