{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block page__title %}Portfolio{% endblock %}

{% block page__content %}
    <div class="stack-column js-filter">
        {% include "portfolio/_search.html.twig" %}
        <div class="grid js-filter-content">
            {% include "portfolio/_images.html.twig" %}
        </div>
        <div class="d-flex x-center y-center js-filter-pagination">
            {% include "portfolio/_pagination.html.twig" %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('portfolio') }}
{% endblock %}
