{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}
{% block page__title %}Portfolio{% endblock %}
{% block page__desc %}
<div class="max-w-620">
    <p>I take photos of nature, people, events, sports and so on. Click on a photo to see it in full size and get informations (camera and lens used, aperture, exposure, ISO, focal and date of shoot).</p>
</div>
{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <section>
            {% include "portfolio/_search.html.twig" %}
        </section>
        <section class="grid js-filter-content">
            {% include "portfolio/_images.html.twig" %}
        </section>
        <section class="d-flex x-center y-center js-filter-pagination">
            {% include "portfolio/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('portfolio') }}
{% endblock %}
