{% extends 'base.html.twig' %}

{% block title %}smnnt.fr - Portfolio{% endblock %}
{% block description %}Mes photographies de paysages, portraits, sports, événements, etc.{% endblock %}

{% block page__title %}Portfolio{% endblock %}
{% block page__desc %}
    {% include "partials/_search.html.twig" %}
{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <section class="grid js-filter-content">
            {% include "portfolio/_images.html.twig" %}
        </section>
        <section class="d-flex x-center y-center js-filter-pagination">
            {% include "portfolio/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('filter') }}
{% endblock %}
