{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} / Portfolio{% endblock %}
{% block description %}I take photos of nature, people, events, sports and so on.{% endblock %}

{% block page__title %}Portfolio{% endblock %}

{% block page__desc %}
<p>Cliquez sur une photo pour la voir en format réel.</p>
{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <section>
            {% include "portfolio/_search.html.twig" %}
        </section>
        <section class="grid js-filter-content">
            {% include "portfolio/_images.html.twig" %}
        </section>
        <section class="d-flex x-center y-center js-filter-pagination">
            {% include "portfolio/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('portfolio') }}
{% endblock %}
