{% extends 'base.html.twig' %}

{% block title %}New photo{% endblock %}

{% block body %}
<div class="min-container">
    <h1 class="page__title">Add a new photo</h1>
    {% include "portfolio/_form.html.twig" %}
</div>
{% endblock %}