{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}
{% block page__title %}Homepage{% endblock %}

{% block page__desc %}
    {% if app.user %}<a href="{{ path('admin') }}">Administration</a>{% else %}<a href="{{ path('login') }}">Se connecter</a>{% endif %}
{% endblock %}

{% block page__content %}
{% endblock %}
