{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}
<div>
    <h1>Homepage</h1>
    {% if app.user %}<a href="{{ path('admin') }}">Administration</a>{% else %}<a href="{{ path('login') }}">Se connecter</a>{% endif %}
</div>
{% endblock %}
