{% extends 'base.html.twig' %}

{% block page__title %}Welcome !{% endblock %}

{% block page__desc %}
<div class="max-w-620">
    <p>My name is Pierre and this is my personal website.</p>
    <p>You will find some of my favorite photos in my <a href="{{ path('portfolio_index') }}" class="underline">portfolio</a>. I also try to write <a href="{{ path('article_index') }}" class="underline">articles</a> about anything I am interesting in.</p>
</div>
{% endblock %}
