{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}
{% block page__title %}Welcome !{% endblock %}

{% block page__desc %}Welcome to my personal website{% endblock %}

{% block page__content %}
<section>
    <div class="section__header">
        <h2 class="section__title">Last photo</h2>
        <p class="section__desc">I take photo of people, nature, event, sport,...</p>
    </div>
    <div class="grid">
        {% if image %}
            {% include "portfolio/_card_photo.html.twig" %}
        {% endif %}
        <div class="card y-center x-center">
            <div class="card__header">
                <div class="card__title">Go to Portfolio</div>
            </div>
            <a class="card__link" href="{{ path('portfolio_index') }}"></a>
        </div>
    </div>
</section>
<section>
    <div class="section__header">
        <h2 class="section__title">Last article</h2>
        <p class="section__desc">I write about anything I am interested in.</p>
    </div>
    <div class="grid">
        {% if article %}
            {% include "article/_card_article.html.twig" %}
        {% endif %}
        <div class="card y-center x-center">
            <div class="card__header">
                <div class="card__title">Go to Articles</div>
            </div>
            <a class="card__link" href="{{ path('article_index') }}"></a>
        </div>
    </div>
</section>
{% endblock %}
