{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}
{% block page__title %}Welcome !{% endblock %}

{% block page__desc %}Welcome to my personal website{% endblock %}

{% block page__content %}
<section>
    <h2 class="section__title">Last photo</h2>
    <div class="grid">
        {% if image %}
            {% include "portfolio/_card_photo.html.twig" %}
        {% endif %}
        <div class="card y-center x-center">
            <div class="card__header">
                <div class="card__title">Go to Portfolio</div>
            </div>
            <a class="card__link" href="{{ path('portfolio_index') }}"></a>
        </div>
    </div>
</section>
<section>
    <h2 class="section__title">Last column</h2>
    <div class="grid">
        {% if article %}
            {% include "article/_card_article.html.twig" %}
        {% endif %}
        <div class="card y-center x-center">
            <div class="card__header">
                <div class="card__title">Go to Columns</div>
            </div>
            <a class="card__link" href="{{ path('article_index') }}"></a>
        </div>
    </div>
</section>
{% endblock %}
