.messages {
  position: fixed;
  right: 0;
}

.alert {
  border-radius: var(--radius);
  box-shadow: 0 2px 4px var(--shadow);
  padding: 8px 14px;
  margin: var(--space);
}

.alert-success {
  background-color: var(--success);
}

.alert-warning {
  background-color: var(--warning);
  color: #fff;
}

.alert-error {
  background-color: var(--error);
  color: #fff;
}

.alert-info {
  background-color: var(--info);
  color: #fff;
}
