.alert {
  border-radius: var(--radius);
  background-color: var(--molecule-bg);
  box-shadow: 0 2px 4px var(--shadow);
  padding: 8px 14px;
  position: fixed;
  right: 0;
  margin-right: var(--space);
}

.alert-success {
  color: var(--success);
}

.alert-warning {
  color: var(--warning);
}

.alert-error {
  color: var(--error);
}

.alert-info {
  color: var(--info);
}
