<div class="card card-small">
    <div class="card__header">
        <div class="card__title">{{ web_project.name }}</div>
    </div>
    <div class="card__body">
        <div class="card__description">{{ web_project.description }}</div>
    </div>
    <div class="card__body text-right">
        <a class="bold" href="{{ web_project.link }}" aria-label="Voir le projet" target="_blank" rel="external">&#62;&#62; Voir le projet</a>
    </div>
</div>