<div class="card card-small card-hover">
    <div class="card__header">
        <div class="card__title">{{ web_project.name }}</div>
    </div>
    <div class="card__body">
        <div class="card__description">{{ web_project.description }}</div>
    </div>
    <a class="card__link" href="{{ web_project.link }}" aria-label="Voir le projet" target="_blank"></a>
</div>