// Variables
// Static variables
$font: "Arial", sans-serif;
// Dynamic variables
:root {
  --background: #ecf0f4;
  --molecule-bg: #fff; // Background color of card elements (cards, forms)
  --color: #222; // Default font color
  --primary: #111111; // Primary background color for CTAs, titles, links and important elements
  --contrast: #f0f0f0; // Color for text in importants elements
  --border: #dce1ea;
  --shadow: #d2d7e1;

  --success: #76ff5b;
  --warning: #ffb555;
  --error: #ff5874;
  --info: #6b6d71;
  --muted: #ededf0;

  --gap: 20px;
  --space: 8px;
  --radius: 8px;
  --topBarHeight: 42px;
}

// Tools
@import "tools/reset";
@import "tools/mixins";
@import "tools/layout";
@import "tools/typography";
@import "tools/hover";

// Atoms
@import "atoms/scroll";
@import "atoms/link";
@import "atoms/title";
@import "atoms/pill";
@import "atoms/button";
@import "atoms/input";
@import "atoms/blockquote";
@import "atoms/loader";
@import "atoms/image";
@import "atoms/icon";
@import "atoms/spot";
@import "atoms/ruby";
@import "atoms/code";
@import "atoms/advert";

// Molecules
@import "molecules/alert";
@import "molecules/card";
@import "molecules/figure";
@import "molecules/table";
@import "molecules/pagination";
@import "molecules/editor";

// Organisms
@import "organisms/list";
@import "organisms/form";
@import "organisms/article";
@import "organisms/header";
@import "organisms/nav";
@import "organisms/aside";
@import "organisms/footer";

// Pages
@import "pages/portfolio";

// Templates
@import "templates/page";

@include dark {
  --background: #222;
  --molecule-bg: #333;
  --color: #f4f4f4;
  --primary: #f5f5f5;
  --contrast: #0f0f0f;
  --border: #8c8c8c;
  --shadow: #464646;
  --muted: #aeaeae;
  --info: #878a91;
}

body {
  font-family: $font;
  background-color: var(--background);
  font-size: 1rem;
  color: var(--color);
  line-height: 1.6;
  scroll-behavior: smooth;
  letter-spacing: 0.025em;
}

::selection {
  background: var(--primary);
  color: var(--contrast);
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
