{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block page__title %}Create new Category{% endblock %}

{% block page__desc %}
    <a href="{{ path('category_index') }}" class="button button-cancel">back to list</a>
{% endblock %}

{% block page__content %}
    {{ include('admin/category/_form.html.twig') }}
{% endblock %}
