/* Adslot */
.adslot_container {
  width: 100%;
  margin: 0 auto;
  max-width: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Announce */
.announce_container {
  width: 100%;
  padding: 8px 14px;
  border-radius: var(--card-radius);
  margin: 2rem auto;
}

.announce_body-container {
  flex: 1;
}

.announce_title {
  font-size: 24px;
  font-weight: bold;
}

.announce_cta-container {
  margin-left: var(--space);
}

/* Announce admin show page */
.announce-details {
  padding-top: 2rem;
}

.announce-details ul li {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  flex-wrap: wrap;
}

.announce-details ul > * + * {
  border-top: 1px solid var(--border);
}

.announce-preview .adslot_container,
.announce-preview .announce_container {
  border: 1px dashed var(--info);
}

@media only screen and (min-width: 900px) {
  .announce-preview {
    flex: 1;
  }

  .announce-show__grid {
    display: flex;
    flex-wrap: wrap;
  }

  .announce-details {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
