button,
.button {
  border: none;
  border-radius: var(--radius);
  font-size: inherit;
  color: inherit;
  padding: 6px 8px;
  cursor: pointer;
  background-color: unset;
  display: inline-flex;
  align-items: center;
}

.button-primary {
  background-color: var(--primary);
  color: var(--contrast);
}

.button-cancel {
  background-color: unset;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.form-submit {
  text-align: right;
}

.button .icon-label {
  margin-left: var(--space);
}
