button,
.button {
  border: none;
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 6px 12px;
  cursor: pointer;
  background-color: unset;
  display: inline-block;
}

.button-primary {
  background-color: var(--primary);
  color: var(--contrast);
}

.button-cancel {
  background-color: unset;
  border: 1px solid var(--primary);
  color: var(--color);
}

.form-submit {
  text-align: right;
}
