pre {
  background-color: #333;
  border-radius: 3px;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  margin: 0 calc(var(--space) * 2);
}

code {
  background-color: #333;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
  color: #ddd;
}

pre code {
  display: block;
  padding: 8px 16px;
  font-size: 0.9rem;
  line-height: 18px;
}
