.glitch {
  position: relative;
  font-size: 6rem;
  text-shadow: 0.05em 0 0 var(--color);
  animation: glitch 1000ms infinite;
  text-transform: uppercase;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 850ms infinite;
  clip-path: polygon(0px 0px, 100% 0px, 103.19% 54.77%, 5px 39.14%);
  transform: translate(-0.025em, -0.0125em);
}

.glitch span:last-child {
  animation: glitch 1375ms infinite;
  clip-path: polygon(-28px 64.37%, 105.26% 72.08%, 100% 100%, 0px 100%);
  transform: translate(0.025em, 0.0125em);
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--color);
  }
  14% {
    text-shadow: 0.05em 0 0 var(--color);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 var(--color);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--color);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 var(--color);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 var(--color);
  }
  100% {
    text-shadow: -0.025em 0 0 var(--color);
  }
}
