.pill {
  padding: 2px 12px;
  border-radius: var(--btn-radius);
  display: inline-flex;
  color: var(--contrast);
}

.pill-primary {
  background-color: var(--primary);
}

@media screen and (min-width: 768px) {
  .card-photo .pill {
    padding: 0 8px;
  }
}
