html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.page__header {
  margin-bottom: 2rem;
}

.page__title {
  margin-bottom: 1rem;
}

.page__desc > * + * {
  margin-top: 1rem;
}

section {
  margin-bottom: 2rem;
}

.section__header {
  margin-bottom: 1rem;
}

.section__title {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .page__header {
    margin-bottom: 4rem;
  }
}
