.page-body {
  display: flex;
}

.page__header {
  margin-bottom: 2rem;
}

.page__content {
  margin-bottom: 2rem;
}

.page__title {
  color: var(--primary);
  margin-bottom: 1.2rem;
}

.page__desc > * + * {
  margin-top: 1em;
}

section {
  margin-bottom: 2rem;
}

.section__header {
  margin-bottom: 1rem;
}

.section__title {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .page__header {
    margin-bottom: 4rem;
  }
}
