.portfolio-image {
  flex: 1 1 auto;
}

.portfolio-image img {
  --radius: 4px;
  display: block;
  margin: 0 auto;
  max-height: calc(100vh - var(--topBarHeight));
  border-radius: var(--radius);
}

.portfolio-image figcaption {
  display: none;
}

.portfolio-details {
  padding: 2em;
  min-width: 280px;
  flex: 1;
}

.portfolio-details ul li {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

.portfolio-details ul > * + * {
  border-top: 1px solid var(--border);
}

@media only screen and (min-width: 768px) {
  .portfolio-image {
    padding-bottom: 2rem;
  }

  .portfolio-show__grid {
    display: flex;
    flex-wrap: wrap;
  }
}
