.portfolio-image {
  flex: 1 1 auto;
}

.portfolio-image img {
  display: block;
  margin: 0 auto;
  max-height: calc(100vh - var(--topBarHeight));
  border-radius: 4px;
}

.portfolio-image figcaption {
  display: none;
}

.portfolio-details {
  padding-top: 2rem;
}

.portfolio-details ul li {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  flex-wrap: wrap;
}

.portfolio-details ul > * + * {
  border-top: 1px solid var(--border);
}

@media only screen and (min-width: 900px) {
  .portfolio-image {
    min-width: 600px;
    flex: 1;
  }

  .portfolio-show__grid {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-details {
    width: 360px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
