article,
.article {
  max-width: 680px;
  margin: 0 auto;
  letter-spacing: 0.025em;
}

.article__header {
  margin-bottom: 2em;
}

.article__footer,
.article__recommended {
  margin-top: 4em;
}

.recommended_list {
  display: grid;
  gap: var(--space);
  grid-template-columns: repeat(3, 1fr);
}

.article__footer h5,
.article__recommended h5 {
  margin-bottom: var(--space);
}

.article__title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}

.article__subtitle {
  font-weight: bold;
}

.article__info {
  color: var(--info);
}

.article__body img {
  border-radius: 4px;
  display: block;
}

.article__body img + p,
.article__body img + em {
  font-size: 0.9rem;
  color: var(--info);
}

.article__body > * + * {
  margin-top: 1em;
}

.article__body a {
  text-decoration: underline;
}

.article__body ul {
  list-style: initial;
  padding-left: 1em;
}

.article__body ul > li + li {
  margin-top: 0.5em;
}

.article__chapter_title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.3;
}

.article__heroimg img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
}
