article,
.article {
  max-width: 680px;
  margin: 0 auto;
}

.article__header,
.article__body {
  margin-bottom: 2em;
}

.article__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2;
}

.article__subtitle {
  font-weight: bold;
}

.article__info {
  color: var(--info);
}

.article__body img {
  border-radius: var(--radius);
  display: block;
}

.article__body > p + p {
  margin-top: 1em;
}

.article__chapter_title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.3;
}
