article,
.article {
  max-width: 680px;
  margin: 0 auto;
}

.article__title {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2;
}

.article__subtitle {
  font-weight: bold;
}

.article__info {
  color: var(--info);
}

.article__chapter_title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.3;
}
