.nav-item {
  display: block;
  height: var(--topBarHeight);
  white-space: nowrap;
  padding: 0 calc(var(--topBarHeight) / 2);
}

.nav-link[aria-current] {
  position: relative;
  color: var(--primary);
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    display: grid;
    grid-gap: calc(2 * var(--gap));
    grid-template-columns: 1fr;
    align-content: center;
    font-size: 1.4em;
    margin-top: calc(2 * var(--gap));
  }
}
