.nav-item {
  display: block;
  height: var(--topBarHeight);
  white-space: nowrap;
  padding: 0 calc(var(--topBarHeight) / 2);
}

.nav-link[aria-current] {
  position: relative;
  color: var(--primary);
  font-weight: bold;
}

.nested-list-item {
  background-color: var(--molecule-bg);
  border-radius: var(--card-radius);
  border: 1px solid var(--border);
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.nested-list {
  list-style: disclosure-closed;
  margin-left: calc(var(--space) + 32px);
}

@media screen and (max-width: 767px) {
  .navbar-nav {
    font-size: 1.4em;
    margin-top: calc(2 * var(--gap));
  }
}
