{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block page__title %}Edit Article{% endblock %}

{% block page__desc %}
    <a href="{{ path('admin_article_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Back to list</a>
    {{ include('admin/article/_delete_form.html.twig') }}
{% endblock %}

{% block page__content %}
    {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
