{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block page__title %}Create new Article{% endblock %}

{% block page__desc %}
    <a href="{{ path('admin_article_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Back to list</a>
{% endblock %}

{% block page__content %}
    {{ include('admin/article/_form.html.twig') }}
{% endblock %}
