<form method="post" action="{{ path('app_adslot_delete', {'id': adslot.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adslot.id) }}">
    <button class="btn">Delete</button>
</form>
