{% extends 'base.html.twig' %}

{% block title %}New Adslot{% endblock %}

{% block page__title %}Create new Adslot{% endblock %}

{% block page__desc %}
    <a href="{{ path('app_adslot_index') }}" class="button button-cancel">{{ icon('back-arrow') }}Back to list</a>
{% endblock %}

{% block page__content %}
   {{ include('admin/adslot/_form.html.twig') }}
{% endblock %}
