{% for article in articles %}
    {% include "article/_card_article.html.twig" %}
{% else %}
    <div class="text-center">Je n'ai pas encore écrit d'article...Revenez plus tard.</div>        
{% endfor %}