{% extends 'base.html.twig' %}

{% block title %}smnnt.fr - Articles{% endblock %}
{% block description %}Mes articles sur les sujets qui m'intéressent.{% endblock %}

{% block page__title %}Articles{% endblock %}
{% block page__desc %}
    {% include "partials/_search.html.twig" %}
{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <section class="js-filter-content stack-column grid-items-center">
            {% include "article/_articles.html.twig" %}
        </section>
        <section class="d-flex x-center y-center js-filter-pagination">
            {% include "article/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('articles') }}
{% endblock %}