{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}
{% block page__title %}Articles{% endblock %}
{% block page__desc %}
<div class="max-w-620">
    <p>I try to write about anything I am interesting of in order to improve my writing skill and articulate my thoughts. Most of the article are in French but I may write some in english and/or japanese.</p>
</div>
{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <section class="js-filter-content stack-column grid-items-center">
            {% include "article/_articles.html.twig" %}
        </section>
        <section class="d-flex x-center y-center js-filter-pagination">
            {% include "article/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}