{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container">
    <h1 class="page__title">Columns</h1>
    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('article_new') }}">New</a>{% endif %}
    <div class="min-container stack-column js-filter">
        <div class="js-filter-content">
            {% include "article/_articles.html.twig" %}
        </div>
        <div class="d-flex x-center y-center js-filter-pagination">
            {% include "article/_pagination.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}