{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} / Articles{% endblock %}
{% block description %}I try to write about anything I am interesting of in order to improve my writing skill and articulate my thoughts.{% endblock %}

{% block page__title %}Articles{% endblock %}

{% block page__desc %}
J'essaie d'écrire des articles sur les sujets qui m'intéressent pour progresser en écriture et mieux mémoriser ce que j'apprends.
{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <section class="js-filter-content stack-column grid-items-center">
            {% include "article/_articles.html.twig" %}
        </section>
        <section class="d-flex x-center y-center js-filter-pagination">
            {% include "article/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}