{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}
{% block page__title %}Columns{% endblock %}

{% block page__content %}
    <div class="stack-column js-filter">
        <div class="js-filter-content">
            {% include "article/_articles.html.twig" %}
        </div>
        <div class="d-flex x-center y-center js-filter-pagination">
            {% include "article/_pagination.html.twig" %}
        </div>
    </div>
{% endblock %}