{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}
{% block page__title %}Articles{% endblock %}

{% block page__content %}
    <div class="js-filter">
        <section class="js-filter-content stack-column">
            {% include "article/_articles.html.twig" %}
        </section>
        <section class="d-flex x-center y-center js-filter-pagination">
            {% include "article/_pagination.html.twig" %}
        </section>
    </div>
{% endblock %}